* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Blurred background */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/Background.jpg") no-repeat center center/cover;
    filter: blur(5px);
    z-index: -1;
}

/* Card */
.form-container {
    background: white;
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #0f3778;
}

.form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus, select:focus {
    outline: none;
    border-color: #0f3778;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #0f3778;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #1c5bbf;
}