* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Blurred background */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/Background.jpg") no-repeat center center/cover;
    filter: blur(5px);
    z-index: -1;
}
/* Main big card */
.main-card {
    background: white;
    width: 660px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    text-align: center;
    
}

.main-card h1 {
    margin-bottom: 30px;
    color: #0f3778;
    font-family: 'Times New Roman', Times, serif;

}

/* Options inside card */
.options {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.option {
    text-decoration: none;
    background: #f0f4ff;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    color: #0f3778;
    transition: 0.3s ease;
    width:500px;
    font-family: 'Times New Roman', Times, serif;

}

.option:hover {
    background: #0f3778;
    color: white;
    transform: translateY(-3px);
}