* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: url("../images/Background.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
}

/* Center container */
.login-container {
    position: relative;
    z-index: 1;
}

.login-box {
    width: 500px;
    padding: 40px;
    background: rgba(250, 250, 250, 0.605);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    color: rgb(0, 0, 0);
}

.login-box h2 {
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

}

/* Input styling */
.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    color: rgb(255, 251, 251);
    outline: none;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #000000;
    pointer-events: none;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -15px;
    font-size: 12px;
    color: #1a5382;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #14468b);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;

}

button:hover {
    transform: scale(1.05);
}

#logToSign, #logToSign a{
    padding-top: 10px;
    color: #14468b;
    font-size: small;
    font-style: italic;
}