* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: url("../images/Background.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.card {
    width: 500px;
    padding: 40px;
    background: rgba(250, 250, 250, 0.605);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    color: rgb(0, 0, 0);
}

.card h2 {
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.subtitle { color: #202144d3; font-size: 0.9rem; margin-bottom: 1.5rem; }

.step-indicator {
    display: flex;
    gap: 8px;
    margin-bottom: 1.5rem;
}

.step-dot {
    height: 6px;
    border-radius: 3px;
    flex: 1;
    background: #e0e0e0;
    transition: background 0.3s;
}

.step-dot.active { background: #1a5382; }

/* Add this - same as login */
.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    color: rgb(0, 0, 0);
    outline: none;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #000000;
    pointer-events: none;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

/* The floating effect */
.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -15px;
    font-size: 12px;
    color: #1a5382;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #14468b);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

button:hover { transform: scale(1.05); }
button:disabled { background: #a5b4fc; cursor: not-allowed; }

.msg {
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    display: none;
}

.msg.error { background: #fef2f2; color: #dc2626; }
.msg.success { background: #f0fdf4; color: #16a34a; }

.hidden { display: none; }

#timer {
    font-size: 0.82rem;
    color: #ffffff;
    text-align: right;
    margin-top: -0.7rem;
    margin-bottom: 1rem;
}

#timer span { color: #ef4444; font-weight: bold; }

#signToLog, #signToLog a{
    padding-top: 10px;
    color: #ffffff;
    font-size: small;
    font-style: italic;
}